<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>Yabs - Applepie</string>
    <key>CFBundleShortVersionString</key>
    <string>${version}</string>
    <key>CFBundleGetInfoString</key>
    <string>yabs, ${copyright}</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>true</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>German</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>${buildnumber}</string>
    <key>CFBundleIconFile</key>
    <string>yabs.icns</string>
    <key>CFBundleIdentifier</key>
    <string>mpv5.Main</string>
    <key>NSHumanReadableCopyright</key>
    <string/>
    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>mpv5.Main</string>
      <key>JVMVersion</key>
      <string>1.5+</string>
      <key>ClassPath</key>
      <array>
        <string>$JAVAROOT/AbsoluteLayout.jar</string>
        <string>$JAVAROOT/DTAus.jar</string>
        <string>$JAVAROOT/MPCalendar.jar</string>
        <string>$JAVAROOT/PDFRenderer.jar</string>
        <string>$JAVAROOT/bcprov-jdk16-145.jar</string>
        <string>$JAVAROOT/bootstrapconnector.jar</string>
        <string>$JAVAROOT/commons-cli-1.2.jar</string>
        <string>$JAVAROOT/commons-cli-20070823.jar</string>
        <string>$JAVAROOT/commons-codec-1.3.jar</string>
        <string>$JAVAROOT/commons-io-1.4.jar</string>
        <string>$JAVAROOT/commons-io-2.0.1.jar</string>
        <string>$JAVAROOT/commons-lang-2.4.jar</string>
        <string>$JAVAROOT/commons-logging-1.1.jar</string>
        <string>$JAVAROOT/derby.jar</string>
        <string>$JAVAROOT/derbyclient.jar</string>
        <string>$JAVAROOT/derbynet.jar</string>
        <string>$JAVAROOT/frame4j.jar</string>
        <string>$JAVAROOT/freemarker-2.3.20.jar</string>
        <string>$JAVAROOT/groovy-all-1.8.4.jar</string>
        <string>$JAVAROOT/httpcore-4.0.1.jar</string>
        <string>$JAVAROOT/httpcore-nio-4.0.1.jar</string>
        <string>$JAVAROOT/iText-2.1.7.jar</string>
        <string>$JAVAROOT/jOpenDocument-1.1-jdk5.jar</string>
        <string>$JAVAROOT/java_uno.jar</string>
        <string>$JAVAROOT/java_uno_accessbridge.jar</string>
        <string>$JAVAROOT/jdom.jar</string>
        <string>$JAVAROOT/jodconverter-2.2.2.jar</string>
        <string>$JAVAROOT/juh.jar</string>
        <string>$JAVAROOT/junit-3.8.1.jar</string>
        <string>$JAVAROOT/jurt.jar</string>
        <string>$JAVAROOT/jut.jar</string>
        <string>$JAVAROOT/l2fprod-common-all.jar</string>
        <string>$JAVAROOT/mail.jar</string>
        <string>$JAVAROOT/microba-0.4.4.2.jar</string>
        <string>$JAVAROOT/microsoft-translator-java-api-0.6.1-jar-with-dependencies.jar</string>
        <string>$JAVAROOT/mysql-connector-java-5.1.23-bin.jar</string>
        <string>$JAVAROOT/noa-libre.jar</string>
        <string>$JAVAROOT/odfdom-java-0.8.7.jar</string>
        <string>$JAVAROOT/officebean.jar</string>
        <string>$JAVAROOT/oro-2.0.8.jar</string>
        <string>$JAVAROOT/registry-3.1.3.jar</string>
        <string>$JAVAROOT/ridl.jar</string>
        <string>$JAVAROOT/sandbox.jar</string>
        <string>$JAVAROOT/serializer.jar</string>
        <string>$JAVAROOT/slf4j-api-1.5.6.jar</string>
        <string>$JAVAROOT/slf4j-jdk14-1.5.6.jar</string>
        <string>$JAVAROOT/tinylaf.jar</string>
        <string>$JAVAROOT/unoil.jar</string>
        <string>$JAVAROOT/unoloader.jar</string>
        <string>$JAVAROOT/vcard4j-1_1_3.jar</string>
        <string>$JAVAROOT/velocity-1.7.jar</string>
        <string>$JAVAROOT/ws-commons-util-1.0.2.jar</string>
        <string>$JAVAROOT/xdocreport-1.0.5-Mod-JH.jar</string>
        <string>$JAVAROOT/xercesImpl-2.9.1.jar</string>
        <string>$JAVAROOT/xercesImpl.jar</string>
        <string>$JAVAROOT/xml-apis.jar</string>
        <string>$JAVAROOT/xmlrpc-client-3.1.2.jar</string>
        <string>$JAVAROOT/xmlrpc-common-3.1.2.jar</string>
        <string>$JAVAROOT/xmlrpc-server-3.1.2.jar</string>
        <string>$JAVAROOT/xstream-1.3.1.jar</string>
        <string>$JAVAROOT/ybsaf.jar</string>
        <string>$JAVAROOT/yabs.jar</string>
      </array>
      <key>Properties</key>
      <dict>
        <key>apple.laf.useScreenMenuBar</key>
        <string>true</string>
      </dict>
    </dict>
  </dict>
</plist>
